@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
  font-family: Roboto,sans-serif; }

a {
  color: #673AB7; }
  a:hover {
    color: #512DA8; }

main {
  margin-top: 20px; }

.btn-primary {
  color: white;
  background: #673AB7;
  border: 1px solid #673AB7; }
  .btn-primary:hover {
    background: #512DA8;
    border: 1px solid #512DA8; }

.btn-outline-primary {
  color: #673AB7;
  border: 1px solid #673AB7; }
  .btn-outline-primary:hover {
    color: white;
    background-color: #512DA8;
    border: 1px solid #512DA8; }

.form-control:focus {
  border: 1px solid #03A9F4;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #03A9F4;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #03A9F4; }

option:focus, option:active, option:checked {
  background: -webkit-gradient(linear, left top, left bottom, from(#0275a8), to(#0275a8));
  background: -webkit-linear-gradient(#0275a8, #0275a8);
  background: -o-linear-gradient(#0275a8, #0275a8);
  background: linear-gradient(#0275a8, #0275a8); }

label {
  cursor: pointer; }
  label input[type=checkbox] {
    display: none; }
    label input[type=checkbox] + .label-text::before {
      content: "\f096";
      font-family: "FontAwesome";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      width: 1em;
      display: inline-block;
      margin-right: 5px;
      color: #03A9F4; }
    label input[type=checkbox]:checked + .label-text::before {
      content: "\f14a"; }
    label input[type=checkbox]:disabled + .label-text::before {
      content: "\f096";
      color: #47c4fd; }
  label input[type=radio] {
    display: none; }
    label input[type=radio] + .label-text::before {
      content: "\f1db";
      font-family: "FontAwesome";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      width: 1em;
      display: inline-block;
      margin-right: 5px;
      color: #03A9F4; }
    label input[type=radio]:checked + .label-text::before {
      content: "\f192"; }
    label input[type=radio]:disabled + .label-text::before {
      content: "\f1db";
      color: #47c4fd; }

.badge-default {
  background-color: #673AB7; }

.navbar {
  background: White;
  border-bottom: 1px solid #BDBDBD; }
  .navbar .navbar-brand {
    color: #673AB7; }
    .navbar .navbar-brand:hover {
      color: #512DA8; }
  .navbar .navbar-nav .nav-item .nav-link {
    color: #757575; }
    .navbar .navbar-nav .nav-item .nav-link:hover {
      color: #212121; }
  .navbar .navbar-nav .active .nav-link {
    color: #673AB7; }
    .navbar .navbar-nav .active .nav-link:hover {
      color: #512DA8; }

.card .card-text {
  color: #757575; }

.card-inverse {
  color: white; }
  .card-inverse .card-text {
    color: white; }

.bg-app-color {
  background-color: #673AB7;
  color: White; }
